# Telegram Bot Token (получите у @BotFather)
TELEGRAM_BOT_TOKEN=8003771633:AAHU4bHnqN87vKJifBWwH7IJJDML121HKao

# URL вашего сервера (для webhook)
SERVER_URL=http://localhost:3000

# Порт сервера
PORT=3000

# ID администраторов через запятую (узнайте свой ID у @userinfobot)
ADMIN_IDS=196447886

# Настройки забега
RACE_START_TIME=2025-10-01T10:00:00+03:00
RACE_END_TIME=2025-10-02T10:00:00+03:00
STADIUM_LAP_LENGTH=0.4